<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Usage Statistics Suite">
  <test name="Usage Statistics Test">
    <classes>
      <class name="jetbrains.buildServer.usageStatistics.impl.providers.UsageStatisticsProvidersTest"/>
      <class name="jetbrains.buildServer.usageStatistics.impl.providers.IDEUsageStatisticsProviderTest"/>
    </classes>
  </test>
</suite>